html {
	position: relative;
}

body {
	margin-bottom: 70px;
	margin-top: 25px;

}
.jumbotron {
	background: url(../img/kontakmahasiswa.jpg); 
	background-size: 100% 100%; 
}

.jumbotron img {
	width: 200px;
	border: 4px solid rgb(0, 0, 0);
}

hr {
	border-top: 4px solid rgb(250, 250, 250);
	width: 250px;
}

section {
	min-height: 300px;
}

.portfolio {
	background: rgb(2, 0, 109);
}

.contact {
	min-height: 600px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background-color: #000000;
	padding: 20px;
}

footer p {
	color: #fff;
}

header{
	background-color: #000000;
}

header a{
	color: white;
}